.testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--mid-space2);
  margin-left: var(--left-space2);
  height: fit-content;
  margin-bottom: var(--default-space);
}

.testimonials-area {
  display: flex;
  width: 100%;
  height: 500px;
}

.testimonials-area .left {
  width: 66%;
  height: 100%;
  display: flex;
  position: relative;
}
.testimonials-area .left .sub-left {
  width: 50%;
  height: 100%;
  background-color: var(--background-color);
  color:var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: relative;
}

.testimonials-area .left .testimonial-left-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.testimonials-area .left .testimonial-left-content .quote-title {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  z-index: 2;
  width: 80%;
}

.testimonials-area .left .overlay-div {
  width: 100%;
  height: 100%;

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  z-index: 3;
}
.testimonials-area .left .overlay-div .quote-icon {
  font-size: 180px;
  opacity: 0.1;
  color:var(--text-color);
  margin-top: 100px;
}
.testimonials-area .left .overlay-div .quote-name {
  font-size: 56px;
  color:var(--text-color);
  font-weight: 700;
}
.testimonials-area .left .testimonial-left-content .quote-role {
  margin-top: 5px;
  font-size: var(--default-p-size);
  opacity: 0.8;
}

.testimonials-area .left .sub-right {
  width: 50%;
  height: 100%;
  box-shadow: -10px 0 15px -8px rgba(0, 0, 0, 0.2),
    10px 0 15px -8px rgba(0, 0, 0, 0.2);
}

.testimonials-area .left .testimonial-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials-area .right {
  width: 34%;
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-right-content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-right-content .quote-icon {
  font-size: 150px;
  color:var(--text-color);
  padding: 10px;
  background-color: var(--background-color);
  opacity: 0.05;
  top: 50px;

  position: absolute;
}

.testimonial-right-content p {
  font-size: var(--default-p-size);
  line-height: 1.6;

  z-index: 2;
  position: relative;
}

.stars {
  font-size: 30px;
  color: var(--background-color);
  z-index: 2;
  position: relative;
}

@media (max-width: 900px) {
  .testimonials-section {
    flex-direction: column;
    height: fit-content;
  }

  .testimonials-area {
    flex-direction: column;
    height: fit-content;
  }

  .testimonials-area .left {
    width: 100%;
    height: 250px;
    display: flex;
    position: relative;
  }
  .testimonials-area .right {
    width: 100%;
  }

  .testimonial-right-content {
    padding: 10px;
  }
  .testimonials-area .left .overlay-div .quote-icon {
    font-size: 80px;
    opacity: 0.1;
    color:var(--text-color);
    margin-top: 20px;
  }
  .testimonials-area .left .overlay-div .quote-name {
    font-size: 24px;
  }
  .testimonials-area .left .testimonial-left-content .quote-title {
    font-size: 18px;
  }
  .testimonials-area .left .testimonial-left-content .quote-role {
    font-size: 12px;
  }

  .testimonials-area .left .sub-left,
  .testimonials-area .left .overlay-div {
    text-align: left;
    padding: 10px;
  }
}
