.location-container {
    background-color: var(--background-color);
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: var(--left-space2);
    padding-right: var(--left-space2);
    padding-top: var(--default-space);
    padding-bottom: var(--default-space);
  }
 
  .location-container .location-section  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48%;
    
  }
  .location-container .location-section  .address {
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  
  }
  .location-container .location-section  .address h3 {
    margin-bottom: 10px;
  }
  .location-container .location-section  .address p {
    line-height: 1.5;
    font-size: var(--default-p-size);
  }
  .location-container .location-section .map-container {
    width: 90%;
    height: 300px;
    border-radius: 6px;
    overflow: hidden;
  }
  .heading-area{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
    height: fit-content;
    gap: 10px;
  }
 
 .heading-area h1{
    
    margin: 0%;
    padding: 0%;
    line-height: 1;
    color: white;
  }
 .heading-area p{
    font-size: var(--default-heading-description);
  margin: 0%;
  padding: 0%;
  line-height: 1;
  
  color: white;
  }
.heading-area .hr{
   background-color: #ffffff;
   height: 1px;
   width: 15%;
  
  }
  .heading-area .description{
   text-align: center;
      width: 100%;
      margin-top: 20px;
   
   text-align: center;
   font-size: var(--default-p-size);
   }
   .heading-area2{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
    height: fit-content;
    gap: 10px;
  }
 
 .heading-area2 h1{
    
    margin: 0%;
    padding: 0%;
    line-height: 1;
    color: rgb(0, 0, 0);
  }
 .heading-area2 p{
    font-size: var(--default-heading-description);
  margin: 0%;
  padding: 0%;
  line-height: 1;
  
  color: rgb(0, 0, 0);
  }
.heading-area2 .hr{
   background-color: #000000;
   height: 2px;
   width: 15%;
  
  }
  .heading-area2 .description{
   text-align: center;
      width: 100%;
      margin-top: 20px;
   color: black;
   text-align: center;
   font-size: var(--default-p-size);
   }
   .heading-area3{
    display: flex;
    flex-direction: column;

    height: fit-content;
    gap: 10px;
  }
 
 .heading-area3 h1{
    
    margin: 0%;
    padding: 0%;
    line-height: 1;
    color: rgb(0, 0, 0);
  }
 

  .heading-area3 .description{
 
      width: 100%;
      margin-top: 20px;
   color: black;
   text-align: left;
   font-size: var(--default-p-size);
   }
  @media (max-width: 900px) {
   
    .location-container .location-section  {
      width: 100%;
     height: fit-content;
      gap: 10px;
    }
    .location-container .location-section .map-container {
    
      height: 200px;
      border-radius: 0px;
    }
    .location-container {
       flex-direction: column;
        padding-left: var(--left-space);
        padding-right: var(--left-space);
      }
      
  }