.hero-section {
  position: relative;
  width: var(--mid-space);
  height: 600px;
  margin-left: var(--left-space);
  border-radius: 6px;
  overflow: hidden;
  color: var(--text-color);
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.dark-effect {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px var(--left-space);
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dark-effect .hr {
  background-color: var(--text-color);
  width: 35%;
  margin-top: 20px;
  height: 2px;
}

.dark-effect h1 {
  font-size: 56px;
  line-height: 1;
}

.dark-effect h2 {
  font-size: 24px;
  line-height: 1;
  margin-top: 5px;
}

.hero-icons {
  display: flex;
  align-items: center;
  gap: 250px;
  padding: 0 15px 20px 0;
}

.hero-icons img {
  width: 40px;
  opacity: 0.3;
  animation: blink 1s infinite;
}

@media (max-width: 900px) {
  .hero-section {
    height: 400px;
  }

  .dark-effect h1 {
    font-size: 30px;
  }

  .dark-effect h2 {
    font-size: var(--default-p-size2);
  }

  .dark-effect {
    align-items: center;
    padding: 30px var(--left-space);
  }

  .dark-effect .hr {
    width: 50%;
  }

  .hero-icons {
    display: none;
  }
}
