.nav-container {
  padding: 0 !important;
  margin: 0 !important;
  width: var(--mid-space) !important;
  margin-left: var(--left-space) !important;

}

.header-logo {
  height: 30px;
}
.header {
  width: 100%;
  height: fit-content;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu-item {
  margin: 5px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.menu-item:hover {
  color: var(--background-color);
}

.menu-item.active {
  color: var(--background-color);

  border-bottom: 3px solid var(--background-color);
}

.menu-item:last-child {
  background-color: var(--background-color);
  border-radius: 50px;
  border: 1px solid transparent; 
  color: white;
  padding: 5px 15px;
  transition: all 0.3s ease;
}

.menu-item:last-child:hover {
  background-color: transparent;
  border: 1px solid var(--background-color); 
  color: var(--background-color);
}


.navbar-toggler {
  outline: none !important;
  border: none !important;
}

@media (max-width: 756px) {
  .header-logo {
    height: 30px;
  }

  .menu-item:last-child {
    width: 100%;
  }
}
