.nav-container {
  padding: 0 !important;
  margin: 0 !important;
  width: var(--mid-space) !important;
  margin-left: var(--left-space) !important;
  
  
}

.header-logo {
  height: 30px;
}
.header {
  width: 100%;
 height: fit-content;
 background-color: white;
  position: fixed;
  z-index: 100;
 
}


.menu-item {

  margin: 5px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.menu-item:hover {
  color: var(--background-color);

  
}

.menu-item.active {
  color: var(--background-color);
  
  border-bottom: 3px solid var(--background-color);
}



.menu-item:last-child {

  background-color: var(--background-color);
  border-radius: 50px;
  border-style: none;
  color: white;
  padding: 5px 15px;

}
.menu-item:last-child:hover {

  background-color: transparent;
  border-style: none;
  color: var(--background-color);
  border: 1px solid var(--background-color);
  padding: 4px 14px;
}
.navbar-toggler {
  outline: none !important;
  border: none !important;
}

@media (max-width: 756px) {

  .header-logo{
    height: 30px;

  }
 

  .menu-item:last-child {
    
   width: 100%;
  }
}